Repository epam/cloud-pipeline, pull requests merged in 2021-12, with the labels that each got.

#2379 Issue 2342 gui testcases
  docs/testcases/UI/Advanced_Search/1836.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_1.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_2.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_3.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_4.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_5.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_6.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/Launch_parameters.md
Labels: sys/e2e, sys/docs

#2370 Issue 2338 Disable commit function gui test
  docs/testcases/UI/Run_tools_in_sandbox/2338.md
  e2e/gui/src/test/java/com/epam/pipeline/autotests/DockerCommitTest.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ao/LogAO.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ao/Primitive.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ao/ToolSettings.java
Labels: sys/e2e

#2447 Issue 2354 tesrcases
  docs/testcases/UI/Data_storages/Datastorages.md
  docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/2354/2354_1.md
  docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/2354/2354_2.md
  docs/testcases/UI/Run_tools_in_sandbox/Limit_mounts/Limit_mounts.md
Labels: sys/docs

#2403 Issue 2356 gui testcases
  docs/testcases/UI/Dashboard/2356.md
Labels: sys/e2e, sys/docs

#2412 Issue 2323 gui testcases
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2323/2323_1.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2323/2323_2.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2323/2323_3.md
  docs/testcases/UI/Run_tools_in_sandbox/Launch_parameters/2342/2342_6.md
Labels: sys/e2e

#2443 Issue 2232 gui testcases
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_1.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_10.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_2.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_3.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_4.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_5.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_6.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_7.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_8.md
  docs/testcases/UI/System_Management/2232_NAT_Gateway/2232_9.md
Labels: sys/docs
