Repository epam/cloud-pipeline, pull requests merged in 2021-01, with the labels that each got.

#1710 Cli tags testcases
  docs/testcases/CLI/Tags/TC-PIPE-TAG-1.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-10.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-11.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-12.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-13.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-14.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-15.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-16.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-17.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-18.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-19.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-2.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-20.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-21.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-22.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-23.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-24.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-25.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-26.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-27.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-28.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-29.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-3.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-30.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-4.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-5.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-6.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-7.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-8.md
  docs/testcases/CLI/Tags/TC-PIPE-TAG-9.md
  docs/testcases/CLI/Tags/Tags.md
Labels: sys/docs, sys/e2e

#1721 Pipe fuse testcases
  docs/testcases/CLI/fuse/fuse.md
Labels: sys/docs, sys/e2e

#1732 Autoscaling CLI testcases
  docs/testcases/CLI/Autoscaling/Autoscaling.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-1.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-10.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-11.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-12.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-13.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-14.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-15.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-2.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-3.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-4.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-5.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-6.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-7.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-8.md
  docs/testcases/CLI/Autoscaling/TC-SCALING-9.md
  docs/testcases/CLI/Edge/edge.md
Labels: sys/docs

#1738 add Policy Storage testcases
  docs/testcases/CLI/StorageOperations/StorageOperations.md
  docs/testcases/CLI/StorageOperations/TC-PIPE-STORAGE-137.md
  docs/testcases/CLI/StorageOperations/TC-PIPE-STORAGE-138.md
Labels: sys/docs

#1759 add 1589, 1613, 1569 SampleProcessingModule Tests
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ObjectMetadataFileTest.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/PipelineEditingTest.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/SampleProcessingModuleTest.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/SamplesMetadataTest.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ao/MetadataSamplesAO.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/ao/Primitive.java
  e2e/gui/src/test/java/com/epam/pipeline/autotests/utils/Utils.java
  e2e/gui/src/test/resources/1-sample.csv
  e2e/gui/src/test/resources/3-samples-set.csv
  e2e/gui/src/test/resources/3-samples.csv
  e2e/gui/testng.xml
Labels: sys/e2e
